<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972504275090-fhbu977feu26gh9bebp04db7fi7n4daa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972504275090-fhbu977feu26gh9bebp04db7fi7n4daa</string>
	<key>API_KEY</key>
	<string>AIzaSyBDe8WjpCvok8fjE1a4LxP-8qWK-GMyG_c</string>
	<key>GCM_SENDER_ID</key>
	<string>972504275090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shokhrukhbek.weatherService.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>weather-service-9d21f</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-service-9d21f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972504275090:ios:53869a68d7de18ecf9ae4b</string>
</dict>
</plist>